.ses {
    margin-top: 20%;
    margin-left: 40%;
  }

  @media only screen and (max-width: 600px) {
    /* Örneğin, 600 piksel ve daha küçük ekran genişlikleri için stiller */
    .ses {
        margin-top: 10%; /* İstenilen değere göre ayarlayabilirsiniz */
        margin-left: 10%; /* İstenilen değere göre ayarlayabilirsiniz */
        /* Diğer stilleri de buraya ekleyebilirsiniz */
    }
}
